body {
	background-color: rgb(8, 7, 7);
}
h1{
	color:#fff;
	text-align: center;
	margin-bottom:-90px;
	border: double #999;
	border-radius: 16px;
}
	

body div.mycalc {
	text-align: center;
	width: 300px;
	margin: 0 auto;
}

div input[type='button'], button {
	width: 72px;
	height: 50px;
	margin: 2px 0;
    border-radius: 20px;
}

div input[type="text"] {
	height: 50px;
	width: 100%;
	background-color: #999;
	color: #fff;
	padding: 12px 20px;
    margin-top: 100px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #777;
}

div.results input, div.results button {
	height: 50px;
	width: 148px;
    border-radius: 20px;
}

div.results button {
	background-color: red;
	color: #fff;
	border: 1px solid red;
}

div.results input {
	background-color: #fd7202;
	color: #fff;
	border: 1px solid #fd7202;
}

#plus, #minus, #by, #devide, #percent {
	background-color: green;
	color: #fff;
	border: 1px solid green;
	font-size: 16px;
}

